/* スライダー全体のスタイル */
.slider-container {
    display: flex;
    justify-content: center;
    /* 水平方向にセンターに配置 */
}

.test {
    color: blue;
}

/* スライド内の画像のスタイル */
.pokemon_logo img{
    width: 100px;
    /* 幅を100pxに設定（任意のサイズに変更可） */
    height: auto;
    /* 高さを自動調整 */
    display: block;
    /* インライン要素などの余白を設定するためのブロックレベル要素に設定 */
    margin: 0 auto;
    /* 水平方向にセンターに配置 */
}

.a img{
    width: 50%;
    height: 50%;
}